{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5" >
    <h2> Criar post </h2>
    <hr>
    <br>
    <form  action="{% url 'create_Post' %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <br>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Categoria</label>
            <input type="text" class="form-control" id="categoria" name="categoria">
        </div>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Artigo</label>
            <textarea class="form-control" id="artigo" name="artigo" rows="3"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>       
    </form>
</div>

{% endblock content %}

{% include 'footer' %}