{% load static %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog do Elias</title>
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="{% static 'mdb/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdb/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdb/css/main.css' %}" rel="stylesheet">
  </head>


<body>
  <header>
    {% include 'navbar.html' %}
    {% include 'header.html' %}
  </header>
  
  
    
        {% block content %}

        {% endblock content %}
    
  


  <script type="text/javascript" src="{% static 'mdb/js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'mdb/js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script>
  <script>
    new WOW().init();

  </script>
  
</body>

{% include 'footer.html' %}
</html>


